.img_title_bg{
	z-index: 1;
	width: 100%;
	height: auto;
}

.layout_title .img_title_bg{
	width: 100%;
	height: auto;
	min-height: 7em;
	text-align: center;
}

.layout_relative{
	position:relative;
}
.layout_absolute{
	position:absolute
}

#img_head{
  	width: auto;
  	height: 4em;
}

.layout_head{
	width: 100%;
	text-align: center;
	z-index: 2;
	display: inline-block
}

.btn_back{
	margin-top: 1em;
	margin-left: 10px;
	z-index: 10;
	display: inline-block
}

.txt_name{
	color: white;
}


