.layout_date{
	position: fixed;
  	top: 0;
  	left: 0;
}

#data{
	width: 100%;
	color: #ffffff;
	padding:8px 10px;
	background-color: rgba(54,54,54,0.1);
	display:inline-block;
}

.layout_content{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url(../image/strengthen_bg_4.png);
}

.txt_small{
	color: #ffffff;
	font-size: small;
}

.layout_foot{
	color: #ffffff;
	background-color: rgba(54,54,54,0.35);
	padding-top: 10px;padding-bottom: 10px;
	width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.foot_table_cell{
	width: 50%;
	text-align: center;
}

/*标签处文字底色*/
.txt_withbg{
	padding:2px 5px;
	text-align: center;
	background-color: #d57880;
	display:inline-block;
}

.layout_bookmark{
	margin-left: 10px;
	display: block;
}
.bookmark{
	color: white;
	margin-bottom: 10px;
	font-size: 16px;
}
.layout_content{
	overflow: auto;
}
.layout_controller{
	padding-bottom: 200px;
	padding-top: 50px;
	padding-right: 10px;
}

.layout_event{
	margin-top: 20px;
	/*display: none;*/
	clear: both;
	color: #787d80;
}

.space_20{
	padding-top: 20px;
}

.write_content_bg{
	padding-top: 20px;
	float: right;
	max-width: 60%;
}

/*写 按钮*/
.write_bg{
	width: 80px;
	height: 80px;
	background-size: cover;
	text-align: center;
	display: inline-block;
	float: right;
	right: 0;
	padding-top: 30px;
}
/*写 按钮,编辑状态*/
.ctrl_edit{
	background-image: url(../image/icon_number_gray.png);
}
/*写 按钮,内容状态*/
.ctrl_num{
	background-image: url(../image/icon_number_red.png);
}



.msg{
	border-radius: 15px;
	border: 0px;
	background-color:rgba(204,204,204,0.8);
	padding: 10px;
	display: inline-block;
	font-size: 20px;
	color: #205392;
	word-break:break-all;
}


