<!--三件好事-->
<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>提升</title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.css"/>
		<link rel="stylesheet" href="../css/global.css"/>
		<link rel="stylesheet" href="../css/promote_3event.css"/>
		
		<script src="../js/angular.js"></script>
		<script src="../js/global.js"></script>
		<script src="../js/testing.js"></script>
		
	</head>
	<body>
		<div class="layout_content">
			<div id="layout_title" class="layout_data machparent_width" >
				<span id="data" class="txt_small"></span>
			</div>
			
			<div class="layout_controller">
				<div class="layout_event space_20 machparent_width">
					<div class="write_bg" ng-click="showinput = !showinput">
						<span style="font-size: 30px;">1</span>
					</div>
					
					<div class="write_content_bg">
						<textarea ng-show="showinput"  id='msg_text' type="text" class='input-text' ng-model="input_content_1"></textarea>
						<span ng-hide="showinput" class="msg">{{input_content_1 || 'adsf'}}</span>
					</div>
					
				</div>
				
				<div class="layout_event space_20 machparent_width">
					<div class="write_bg">
						<span style="font-size: 30px;">2</span>
					</div>
				</div>
				
				<div class="layout_event space_20 machparent_width">
					<div class="write_bg">
						<span style="font-size: 30px;">3</span>
					</div>
				</div>
			</div>
			
			<!--标签-->
			<div id="layout_foot" class="layout_foot">
				<table class="layout_bookmark" border="0px" cellspacing="0px" cellpadding="0px" class="width_machparent">
					<tr >
						<th>
							<img src="../image/icon_bookmark.png" width="20px" height="20px" style="margin-top: 2px; margin-right: 4px;">
						</th>
						</th>
						<th>
							<span class="bookmark">标签</span>
						</th>
					</tr>
				</table>
				
				<table border="0px" cellspacing="0px" cellpadding="0px" class="foot_table width_machparent">
					<tr >
						<th class="foot_table_cell">
							<span id="txt_state" class="txt_withbg">完美的一天</span>
							<span >&nbsp;&nbsp;</span>
							<span id="txt_scole" class="txt_withbg">5分</span>
						</th>
						<th class="foot_table_line" style="width: 2px; background-color: #FFFFFF;">
						</th>
						<th class="foot_table_cell" style="text-align:center;vertical-align:middle">
							<table class="layout_bookmark" border="0px" cellspacing="0px" cellpadding="0px" class="width_machparent">
								<tr >
									<th>
										<img src="../image/icon_people.png" width="50px" height="40px" style="margin-top: 2px; margin-right: 4px;">
									</th>
									</th>
									<th>
										<span style="color: #882d28;" style="display:inline-block;padding-bottom: 10px;">看看朋友>></span>
									</th>
								</tr>
							</table>
						</th>
					</tr>
				</table>
			</div>
			
		</div>	
		
		<script type="text/javascript">
		  document.getElementById('data').innerText = getDate() + "  " + getWeek();
		  
		  
		  function VisibleController1($scope) {
		        $scope.visible = false;
		        $scope.toggle = function () {
		            $scope.visible = !$scope.visible;
		        }
		    }
		  
		  
		  
	 	</script>
		
	</body>

</html>
